body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nm {
  margin: 0px;
}

.md-padding {
  padding: 8px;
}
.text-center {
  text-align: center;
}

.layout-row {
  display: flex;
  flex-direction: row;
}
.layout-align-center {
  justify-content: center;
}
.layout-align-start-center {
  justify-content: flex-start;
  align-items: center;
}
.nm-b {
  margin-bottom: 0px;
}
