body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-center {
  text-align: center;
}

.layout-row {
  display: flex;
  flex-direction: row;
}
.layout-align-center {
  justify-content: center;
}
.nm-b {
  margin-bottom: 0px;
}
